.parent {
    /* background-color: var(--tertiary-bg);
    background-color: var(--body-bg); */
    padding-top: 84px;
    width: 85%;
    margin: auto;
}

.slider {
    overflow: 'hidden';
    background-color: var(--header-bg) !important;
    background-color: var(--tertiary-bg) !important;
    background-color: var(--secondary-bg) !important;
    background-color: var(--complementary-bg) !important;
    /* margin: 0 40px; */
}

.carousel-container {
    width: 100% !important;
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
    margin: auto;
}

/* .carousel-container, */
/* .slider {
    background-color: var(--complementary-bg);
    background-color: var(--tertiary-bg);
    padding: 1rem 0;
} */

/* .carousel-container {
    background-color: goldenrod;
    width: 80%;
    margin: auto;
} */



.slider img {
    width: 160px;
    height: 80px;
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    border: 0 !important;
    background-color: var(--active-nav-link) !important;
    background-color: var(--complementary-bg) !important;
    background-color: var(--tertiary-bg) !important;
    /* background-color: var(--primary-bg) !important; */
}


/* .carousel-container .custom-dot-list-style button {
    background-color: green !important;
} */



.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background-color: var(--read-more) !important;
    background-color: var(--complementary-bg) !important;
    background-color: var(--radio-btn) !important;
    background-color: var(--active-nav-link) !important;
}

.react-multiple-carousel__arrow--right {
    position: absolute !important;
    right: 0 !important;
    /* background: none !important; */
    border-radius: 0% !important;
    z-index: 10 !important;
    /* background-color: red !important; */
}

.react-multiple-carousel__arrow--left {
    position: absolute !important;
    /* background: none !important; */
    border-radius: 0% !important;
    left: 0 !important;
    z-index: 10 !important;
}

@media screen and (min-width: 452px) {
    .custom-dot-list-style button {
        height: 13px !important;
        width: 13px !important;
        border-radius: 50%;
    }
}

@media screen and (min-width: 667px) {
    .parent {
        width: 75%;
    }
}

@media screen and (min-width: 929px) {
    .parent {
        width: 70%;
        margin: auto;
    }
}




@media screen and (min-width: 768) {
    .slider {
        margin: 0 5px;
        margin: 0;
    }

    .slider img {
        width: 120px;
        height: 80px;
    }
}

@media screen and (min-width: 1267px) {
    .parent {
        /* padding: 84px 5% 0 5%; */
        width: 90%;
    }

    .slider {
        background-color: var(--radio-btn) !important;
        background-color: var(--secondary-bg) !important;
        background-color: var(--tertiary-bg) !important;
        background-color: var(--complementary-bg) !important;
        background-color: var(--primary-bg) !important;

    }

    /* .custom-dot-list-style button {
        background-color: var(--tertiary-bg) !important;
    } */

    /* .carousel-container {
        border: 2px solid var(--complementary-bg);

    } */

    .slider img {
        width: 150px;
        height: 80px;
    }

    .react-multiple-carousel__arrow--right {
        background: var(--tertiary-bg) !important;
    }

    .react-multiple-carousel__arrow--left {
        background: var(--tertiary-bg) !important;
    }
}

/* @media screen and (max-width: 1266px) {
    .parent {
        width: 80%;
        margin: auto;
    }

    .slider {
        background-color: var(--body-bg);
        margin: 0 40px;
    }
} */