.main {
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  padding-bottom: 6rem;
  background-color: var(--primary-background);
  /* background-color: var(--complementary-bg); */
  /* background-color: #202019; */
  color: var(--primary-text-color);
}

.main h1 {
  font-family: var(--hero-banner-text);
  font-size: 1.5rem;
}
.wrapper {
  display: flex;
}
.wrapper img {
  background-color: var(--complementary-bg);
  background: var(--about-image-bg);
  display: none;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: var(--header-background);
  background-color: var(--complementary-bg);
  padding: 2rem 0;
}

.text-fields,
.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}


.required:after {
  content: " *";
  color: crimson;
}

.textField input {
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  background-color: var(--complementary-bg);
  background-color: var(--project-container-bg);
  background-color: var(--buttons-hover-bg);
  /* background-color: var(--header-background); */
  font-family: var(--primary-font-family);
}

.textField label {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

.textField textarea {
  background-color: var(--buttons-hover-bg);
}

.send {
  background-color: var(--buttons-bg-color);
  /* background-color: var(--switch-button-bg); */
  color: var(--buttons-color);
  font-family: var(--primary-font-family);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  border: none;
  width: max-content;
  margin: auto;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-radius: 4px;
}

.send:hover {
  background-color: var(--buttons-hover-bg);
  /* background-color: var(--switch-button-bg);
  background-color: var(--buttons-bg-color); */
  color: var(--secondary-text-color);
}

.fa-paper-plane {
  font-size: 1rem;
  /* color: var(--buttons-color); */
}

.error-alert {
  margin-top: 0.5rem;
  background-color: darkred;
}

/* @media screen and (min-width: 667px) {
  .box {
    width: 85%;
  }
} */

@media screen and (min-width: 900px) {
  /* .box {
    width: 70%;
  } */
    .wrapper img {
      display: block;
      width: 450px;
    }
    /* .text-fields,
    .message-wrapper {
      flex-direction: row;
      width: 90%;
      justify-content: space-between;
    } */
}

@media screen and (min-width: 1240px) {
  .box {
    padding: 4rem 0;
    width: 70%;
  }
 .text-fields,
 .message-wrapper {
   flex-direction: row;
   width: 90%;
   justify-content: space-between;
 }
}