.main {
    width: 100%;
    text-align: center;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 84px;
    padding-bottom: 12rem;
    background-color: var(--tertiary-bg);
    background-color: var(--primary-bg);
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;

}

.intro {
    width: 85%;
    margin: auto;
    padding: 1rem 0;
}

.intro h1 {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    margin: 0 auto 0.5rem auto;
    text-align: left;
}

.intro p {
    text-align: left;
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.25px;
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.contact-info {
    background-color: var(--tertiary-bg);
    display: none;
    flex-direction: column;
    padding-bottom: 1rem;
}

.contact-info h4 {
    width: 100%;
    margin: 1rem auto;
}

.contact-info p {
    text-align: left;
    width: 80%;
    margin: auto;
}

.anchors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.fa-brand {
    font-size: 1.35rem;
    color: var(--secondary-text-color);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: var(--complementary-bg);
    padding: 2rem 0;
}

.text-fields,
.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


.required:after {
    content: " *";
    color: crimson;
}

.textField input {
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--primary-text-color);
    background-color: var(--tertiary-bg);
    font-family: var(--primary-font-family);
}

.textField label {
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
}

.textField textarea {
    background-color: var(--tertiary-bg);
}

.send {
    color: var(--buttons-color);
    font-family: var(--buttons-font-family);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    border: none;
    width: max-content;
    margin: auto;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    border-radius: 4px;
}

.fa-paper-plane {
    font-size: 1rem;
}

.error-alert {
    margin-top: 0.5rem;
    background-color: darkred;
}

@media screen and (min-width: 714px) {
    .intro {
        width: 90%;
    }

    .wrapper {
        flex-direction: row-reverse;
    }

    .intro h1 {
        text-align: center;
    }

    .contact-info {
        display: flex;
    }

    .contact-info p {
        margin: 1rem auto;
    }
}

@media screen and (min-width: 929px) {
    .main {
        min-height: 100%;
        padding-top: 8rem;
        padding-bottom: 10rem;
    }

    .wrapper,
    .intro {
        width: 80%;
        margin: auto;
    }

    .intro {
        background-color: var(--secondary-bg);
    }

    .wrapper {
        margin-top: 0;
    }

    .intro p {
        font-size: 1.075rem;
        line-height: 1.65rem;
        padding: 0 2.5rem;
    }

}

@media screen and (min-width: 1240px) {

    .wrapper,
    .intro {
        width: 70%;
        width: 80%;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .text-fields,
    .message-wrapper {
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }
}