.main {
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 6rem;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: left;
  /* background-color: var(--complementary-bg); */
}

.form input {
  font-size: large;
  line-height: 2rem;
  /* border-radius: 4px; */
}

.send {
  background-color: var(--complementary-bg);
  color: var(--primary-text-color);
  text-decoration: none;
  border: none;
  padding: 0.5rem 0;
}

.error-alert {
  margin-top: 0.5rem;
  background-color: darkred;
}