.main-container {
  width: 100%;
  background: var(--projects-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 7rem 0;
}

.project-wrapper {
  width: 80%;
  height: fit-content;
  /* margin-top: 0; */
  margin: auto;
  background-color: var(--projects-container-bg);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--projects-container-hover);
  transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  border-radius: 8px;
}

.project-title {
  font-family: var(--primary-font-family);
  color: var(--text-primary-color);
}

.project-wrapper img {
  width: 90%;
  margin: auto;
  cursor: default;
}

.read-more-read-less-wrapper {
  width: 90%;
  margin: auto;
  text-align: left;
}

.description {
  font-family: var(--primary-font-family);
  font-family: var(--secondary-font-family);
  color: var(--text-primary-color);
  color: var(--nav-links-color);
  font-size: 0.87rem;
  font-weight: 100;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.description span {
  display: inline-block;
  color: var(--active-nav-link);
}

.project-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.live-demo-link,
.github-link {
  font-family: var(--buttons-font-family);
  color: var(--buttons-color);
  background-color: var(--switch-button-bg);
  background-color: #395590;
  color: #06123C;
  color: #050E2E;
  color: #FCFCFD;
  text-decoration: none;
  padding: 0.65rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 100;
}

.fa-github {
  font-size: 1.12rem;
  color: var(--buttons-color);
  color: #06123C;
  color: #050E2E;
  color: #FCFCFD;
}

/* .live-demo-link {
  text-transform: uppercase;
} */

@media screen and (min-width: 667px) {
  .project-wrapper {
    width: 65%;
  }
  .description {
    font-size: 1rem;
  }

    .live-demo-link,
    .github-link {
      font-weight: 400;
    }
}