.main-container {
  width: 100%;
  background: var(--secondary-background);
  background: var(--primary-background);
  /* background: var(--projects-link-bg); */
  /* background: var(--radio-btn-bg); */
  /* background: var(--project-container-bg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 5rem 0 13rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  gap: 1rem;
}

.back-btn {
  background-color: var(--buttons-hover-bg);
    color: var(--buttons-color);
  /* color: var(--nav-links-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  /* font-size: 1.25rem; */
  border-radius: 4px;
}

.project-wrapper {
  width: 100%;
  height: fit-content;
  /* margin-top: 0; */
  margin: auto;
  background-color: var(--project-container-bg);
  /* background-color: var(--complementary-bg); */
  background-color: var(--header-background);
  background-color: var(--project-container-hover);
  background-color: var(--projects-link-bg);
  /* background-color: var(--complementary-bg); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--switch-button-bg);
  transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  border-radius: 4px;
}

.project-title {
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
  color: var(--primary-text-color);
  color: var(--secondary-text-color);
  background-color: var(--radio-btn-border);
  background-color: var(--secondary-background);
  /* background-color: var(--project-container-hover);
  background-color: var(--complementary-bg); */
  /* color: var(--nav-links-color); */
  width: 90%;
  /* height: 80%; */
  margin: 1rem auto;
  padding: 1rem 0;
  text-align: center;
  border-radius: 4px;
}

.project-wrapper img {
  width: 90%;
  margin: auto;
  border-radius: 4px;
}

.read-more-read-less-wrapper {
  background-color: var(--primary-background);
  background-color: var(--secondary-background);
  /* background-color: var(--project-container-hover);
  background-color: var(--complementary-bg); */
  /* padding: 0 1rem; */
  width: 90%;
  margin-top: 1rem;
  text-align: left;
  border-radius: 4px;
}

/* .read-more-read-less-wrapper div {
  margin-top: 0;
  padding: 2rem;
} */

.description {
  font-family: var(--primary-font-family);
  /* font-family: var(--secondary-font-family); */
  color: var(--secondary-text-color);
  width: 90%;
  margin: 1rem auto;
  
  
  /* color: var(--nav-links-color); */
  /* font-size: 1rem; */
  font-weight: 300;
  line-height: 1.25rem;
  
  letter-spacing: 0.5px;
  border-radius: 4px;
  /* padding: 0 1rem; */
  /* width: 95%;
  margin: auto; */
  /* margin: auto 1rem; */

  /* opacity: 0.9; */
  /* padding-left: 8px; */
}

.description span {
  display: inline-block;
  color: var(--active-nav-link);
  /* color: var(--switch-button-bg); */
  color: var(--active-nav-link-text);
  
  color: var(--buttons-hover-bg);
  color: var(--home-link-bg);
  color: firebrick;
  color: var(--switch-button-bg);
  color: var(--menu-box-bg);
  color: var(--read-more);
  cursor: pointer;
}

.project-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.live-demo-link,
.github-link {
  font-family: var(--buttons-font-family);
  color: var(--secondary-text-color);
  background-color: var(--buttons-bg-color);
  background-color: var(--switch-button-bg);
  background-color: var(--buttons-hover-bg);
  color: var(--buttons-color);
  text-decoration: none;
  padding: 0.65rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: var(--buttons-font-weight);
}

.fa-github {
  font-size: 1.12rem;
  color: var(--buttons-color);
}

/* .live-demo-link {
  text-transform: uppercase;
} */



@media screen and (min-width: 667px) {
  .container {
    width: 85%;
  }

  .description {
    font-size: 1.075rem;
  }

  .live-demo-link,
  .github-link {
    font-weight: 400;
  }
}
@media screen and (min-width: 929px) {
  .main-container {
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 1124px) {
  .container {
    width: 80%;
  }
}