.main-container {
    width: 100%;
    background: var(--primary-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 0 13rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    gap: 1rem;
    margin-top: 1.75rem;
}

.back-btn {
    color: var(--buttons-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    text-transform: capitalize;
}

.project-wrapper {
    width: 100%;
    background-color: var(--secondary-bg);
    background-color: var(--complementary-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--complementary-bg);
    transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
    border-radius: 4px;
    padding-top: 5%;
}

.project-title {
    font-family: var(--primary-font-family);
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    font-weight: 500;
    text-align: left;
}

.bold {
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-style: normal;
}

.project-img {
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 4px;
}

.read-more-read-less-wrapper {
    background-color: var(--primary-bg);
    background-color: var(--header-bg);
    background-color: var(--about-bg);
    background-color: var(--tertiary-bg);
    width: 90%;
    margin-top: 1rem;
    text-align: left;
    border-radius: 4px;
}

.description {
    font-family: var(--tertiary-font-family);
    color: var(--secondary-text-color);
    color: var(--primary-text-color);
    width: 90%;
    margin: 1rem auto;
    font-weight: 0, 300;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    border-radius: 4px;
    font-style: italic;
}

.description span {
    display: inline-block;
    font-family: var(--primary-font-family);
    color: var(--read-more);
    font-weight: 400;
    cursor: pointer;
}

.project-links-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
}

.live-demo-link,
.github-link {
    font-family: var(--buttons-font-family);
    /* color: var(--secondary-text-color);
    color: var(--buttons-color); */
    /* text-decoration: none; */
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    /* font-size: 1rem; */
    font-weight: var(--buttons-font-weight);
    text-transform: capitalize;
}

.fa-github {
    font-size: 1.12rem;
    color: var(--buttons-color);
}

@media screen and (min-width: 667px) {
    .container {
        width: 85%;
    }

    .description {
        /* font-size: 1.075rem; */
        font-weight: 300;
    }

    .live-demo-link,
    .github-link,
    .back-btn {
        font-size: 1rem;
        font-family: var(--buttons-font-family);
        font-weight: var(--buttons-font-weight);
        padding: 0.65rem 1.2rem;
    }
}

@media screen and (min-width: 929px) {
    .main-container {
        padding-bottom: 10rem;
    }
}

@media screen and (min-width: 1124px) {
    .container {
        width: 70%;
    }
}