.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 15rem;
  background-color: var(--header-background);
  /* background-color: var(--complementary-bg); */
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.contact-info {
  display: block;
  width: 90%;
  margin: 0 ;
  padding: 0;
  padding-bottom: 2rem;
  /* background-color: red; */
  margin-top: -1rem;
}

.anchors {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 1rem;
  /* margin-top: 1rem; */
}

.fa-brand {
  font-size: 1.35rem;
}

@media screen and (min-width: 929px) {
  .footer {
    height: 5rem;
  }
  .contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .anchors {
    justify-content: center;
    align-items: center;
  }

}