.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 48px;
  background-color: var(--header-background);
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}