html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	position: relative;
	min-height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--primary-background);
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
 */

:root {
	--header-background: #e4e5f1;
	--header-background: #818181;
	--primary-background: #fafafa;
	--project-container-bg: #9394a5;
	--project-container-hover: #4B4E53;
	--home-background: #f8f8f8;
	--about-image-bg: #9394a5;
	--complementary-bg: #d2d3db;
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Montserrat', sans-serif;
	--buttons-font-family: 'Poppins', sans-serif;
	--buttons-font-family: 'Montserrat',
		sans-serif;
	--secondary-text-color: #f8f8f8;

	--secondary-font-family: 'Lato',
		sans-serif;
	--primary-text-color: #0f0700;
	--helper-text-color: #5e5e5f;
	--secondary-font-weight: 600;
	--secondary-text-color: black;
	--nav-links-color: #202537;
	--active-nav-link: #282D43;
	--nav-links-font-weight: 400;
	--active-nav-link-font-weight: 600;
	--buttons-bg-color: #2d2d3d;
	--buttons-bg-color: #484b6a;
	--buttons-hover-bg: #e4e5f1;
	--buttons-color: #FAFAFA;
	--radio-btn-border: #484b6a;
	--radio-btn-border: #282D43;
	--switch-button-bg: #484b6a;
	/* --switch-button-bg: #008ecc; */
}

[data-theme='dark'] {
	--header-background: #1F2022;
	--primary-background: #0c0c0c;
	--secondary-background: #121212;
	--project-container-bg: #353839;
	--project-container-hover: #4B4E53;
	--complementary-bg: #202020;
	/* --complementary-bg: #262626; */
	--home-background: url('/images/home-background.jpg');
	--about-image-bg: url('/images/background-destination-desktop.jpg');
	--hero-banner-text: 'Playfair Display', serif;
	--primary-font-family: 'Montserrat', sans-serif;
	/* --primary-font-family: 'Lato',
		sans-serif; */
	--buttons-font-family: 'Poppins', sans-serif;
	--buttons-font-weight: 100;

	--buttons-bg-color: #6b78cb;
	/* --buttons-bg-color: rgb(202, 182, 7); */
	
	--buttons-bg-color: #bfdda0;
	--buttons-bg-color: #D8BFD8;
	--buttons-bg-color: #ae6f2f;

	--buttons-bg-color: #4b474f;
	--buttons-hover-bg: #2d2d3d;
	--buttons-bg-color: #15728a;
	--buttons-bg-color: #bb86fc;
	/* --buttons-bg-color: #9ba5d8; */
	--buttons-bg-color: #b19cd9;
	--buttons-bg-color: #A3A3FF;
	/* --buttons-bg-color: #4681f4;
	 */
	/* --buttons-bg-color: #92A8F2; */

	--buttons-color: #0D0D0D;
	--buttons-color: #BFBFBF;
	--buttons-color: #C9C9C9;
	--buttons-color: #3E193E;
	--buttons-color: #1B122B;
	--buttons-color: #0F0F0F;
	--buttons-color: black;
	--secondary-font-family: 'Lato',
		sans-serif;
	--primary-text-color: #D7D7DF;
	--primary-text-color: #9C9C9C;
	--primary-text-color: #9C9C9C;
	--secondary-font-weight: 100;
	--secondary-text-color: #E8EBED;
	--secondary-text-color: #C4C4C4;
	--secondary-text-color: #B3B3B3;
	--active-nav-link: #8695FE;
	--active-nav-link: #CB81FD;
	--active-nav-link: #00B0F5;
	--active-nav-link: #bb86fc;
	--active-nav-link: #C597FC;
	--active-nav-link: #A3A3FF;
	--active-nav-link: #92A8F2;
	--nav-links-color: #CCCCCC;
	--nav-links-color: #A1A1A1;
	--nav-links-color: #D1D1D1;
	--helper-text-color: #B0B0B0;
	--nav-links-font-weight: 300;
	--active-nav-link-font-weight: 400;
	/* --radio-btn-bg: #191920; */
	--radio-btn-border: #B6B6C8;
	--radio-btn-border: #CBCBD7;
	--radio-btn-border: #A1A1A1;

	
	--switch-button-bg: #00B0F5;
	--switch-button-bg: #bb86fc;
	--switch-button-bg: #C597FC;
	--switch-button-bg: #A3A3FF;
	--switch-button-bg: #92A8F2;
}