html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-bg);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

:root {
    --header-bg: #E8E9EB;
    --header-bg: #dddde1;
    --primary-bg: #F5F5F5;
    --primary-bg: #7395ae;
    --primary-bg: #c2cad0;
    --primary-bg: #8C8C9C;
    --primary-bg: #c6c6ce;
    --primary-bg: #babac4;
    --primary-bg: #c6c6ce;

    --secondary-bg: #97aabd;
    --secondary-bg: #A5AABB;
    --secondary-bg: #9FA4B7;
    --secondary-bg: #A2A7B9;
    --tertiary-bg: #d6d6d7;
    --tertiary-bg: #d1d2d4;
    --tertiary-bg: #DCDCDC;
    --tertiary-bg: #D3D3D3;
    --tertiary-bg: #bbb6a5;
    --tertiary-bg: #bbb6a5;
    --complementary-bg: #8299b8;
    --complementary-bg: #BD97AA;
    --complementary-bg: #BBB6A5;
    --complementary-bg: #BBA5B5;
    --project-container-hover: #A8A7A4;
    --hero-banner-text: 'Playfair Display', serif;
    --primary-font-family: 'Montserrat', sans-serif;
    --buttons-font-family: 'Montserrat',
        sans-serif;
    --secondary-text-color: #f8f8f8;
    --secondary-text-color: #313030;
    --secondary-font-family: 'Lato',
        sans-serif;
    --primary-text-color: #313030;
    --primary-text-color: #17191b;
    --primary-text-color: #2b2d30;
    --primary-text-color: #1A1A1A;
    --helper-text-color: #0A0A0A;
    --secondary-font-weight: 300;
    --secondary-text-color: #313436;
    --secondary-text-color: #2c2f31;
    --about-image-bg: url('/assets/images/background-destination-desktop.jpg');
    --buttons-hover-bg: #C1C1C1;
    --buttons-color: #FAFAFA;
    --active-nav-link: #a1b3c4;
    --active-nav-link: #9898a6;
    --active-nav-link: #a3a3b0;
    --toggle-btn: #6E85B7;
    --toggle-btn: #abb0c0;
    --radio-btn: #6E85B7;
    --radio-btn: #abb0c0;
    --read-more: #BD1A43;
}

[data-theme='dark'] {
    --header-bg: #381523;
    --header-bg: #19181d;
    --header-bg: #1E2024;
    --header-bg: #1d2022;
    --header-bg: #17171a;
    --header-bg: #1A1A1D;
    --header-bg: #1F1E24;
    --header-bg: #2f2e33;

    --primary-bg: #191b22;
    --primary-bg: #17171a;
    --primary-bg: #151517;
    --primary-bg: #161726;
    --primary-bg: #131422;
    --primary-bg: #211a22;
    --primary-bg: #251e27;
    --primary-bg: #211E26;
    
    --secondary-bg: #2f222d;
    --secondary-bg: #383238;
    --secondary-bg: #252a39;
    --secondary-bg: #22303b;
    --secondary-bg: #262a2e;
 
    --tertiary-bg: #383238;
    --tertiary-bg: #322d32;
    --tertiary-bg: #262a2e;
    --tertiary-bg: #222629;
    --tertiary-bg: #2a2f33;
    --tertiary-bg: #2f3131;
    --tertiary-bg: #2d3033;
    --tertiary-bg: #2a292e;

    --complementary-bg: #302f34;
    --complementary-bg: #433f3c;
    --project-container-hover: #3c3936;
    --about-image-bg: url('/assets/images/background-destination-desktop.jpg');
    --hero-banner-text: 'Playfair Display', serif;
    --primary-font-family: 'Montserrat', sans-serif;
    --buttons-font-family: 'Poppins', sans-serif;
    --buttons-font-weight: 100;
    --buttons-hover-bg: #3E434C;
    --buttons-hover-bg: #323739;
    --buttons-hover-bg: #3e1d2e;
    --buttons-hover-bg: #3c3f43;
    --buttons-hover-bg: #222629;
    --buttons-color: #F8F8FC;
    --secondary-font-family: 'Poppins',
        sans-serif;
    --primary-text-color: #C2C2C2;
    --secondary-font-weight: 300;
    --secondary-text-color: #ADADAD;
    --helper-text-color: #dadaee;
    --helper-text-color: #8C8C8C;
    --active-nav-link: #2a292e;
    --toggle-btn: #615E69;
    --toggle-btn: #433f3c;
    --toggle-btn: #1a181e;
    --radio-btn: #3A3543;
    --read-more: #3a9bdc;
}