/* header */
.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
  /* -webkit-box-shadow: 0 4px 6px -6px var(--secondary-background);
  -moz-box-shadow: 0 4px 6px -6px var(--secondary-background);
  box-shadow: 0 4px 6px -6px var(--secondary-background); */

  color: var(--secondary-text-color);
  height: 64px;
  z-index: 2;
}

.nav_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}


.logo {
  height: 64px;
  width: auto;
}

/* hamburger menu */
.menu__toggle {
  opacity: 0;
}

.menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

.menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 19px;
  right: 24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--nav-links-color);
  background-color: var(--switch-button-bg);
  background-color: var(--active-nav-link-text);
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  right: -100%;
  width: 100%;
  height: min-content;
  margin: 0;
  padding: 0;
  background-color: var(--buttons-bg-color);
  box-shadow: 2px 2px 6px var(--nav-links-color);
  transition-duration: 0.25s;
  text-align: center;
}

.menu__item,
.active {
  /* display: block; */
  padding: 18px 24px;
  font-family: var(--secondary-font-family);
  font-family: var(--primary-font-family);
  color: var(--nav-links-color);
  border-bottom: solid 1px var(--primary-text-color);
  border-bottom: solid 1px var(--nav-links-color);
  font-size: 1rem;
  font-weight: var(--nav-links-font-weight);
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.25s;
}

/* .menu__item:hover {
  color: var(--nav-links-color);
  font-weight: var(--active-nav-link-font-weight);
} */

.active {
  text-decoration: none;
  font-weight: var(--active-nav-link-font-weight);
  color: var(--active-nav-link);
  color: var(--active-nav-link-text);
  background-color: var(--complementary-bg);
}

@media screen and (min-width: 724px) {
  /* * {
    box-sizing: content-box;
  } */

  .menu__box {
    flex-direction: row;
    width: max-content;
    justify-content: right;
    align-items: center;
    position: absolute;
    margin-top: 0;
    right: 5rem;
    top: 0;
    padding: 0;
    height: 64px;
    box-shadow: none;
    margin-right: 3rem;
    /* gap: 0.5rem; */
    transition-duration: 0ms;
  }

  .menu__item,
  .active {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 1rem; */
    padding: 0 1.5rem;
    height: 100%;
    border-bottom: 0px solid var(--header-background);

  }



  .home {
    background-color: var(--active-nav-link);
    background-color: var(--home-link-bg);
  }

  .projects {
    background-color: var(--project-container-bg);
    background-color: var(--projects-link-bg);
  }
  
  .about {
    background-color: var(--buttons-bg-color);
    background-color: var(--about-link-bg);
  }

  .contact {
    background-color: var(--complementary-bg);
    background-color: var(--contact-link-bg);
  }

  .home,
  .projects,
  .about,
  .active {
    border-right: 1px solid var(--nav-links-color);
  }

  .menu__item:last-child {
    border-right: none;
    height: 100%;
  }

  .active {
    background-color: var(--header-background);
    background-color: var(--active-nav-link);
    color: var(--active-nav-link-text);
    border-color: var(--active-nav-link-text);
  }

  .active:last-child {
    border-right: none;
  }

  .menu__btn {
    display: none;
  }

  /* .nav_wrapper {
    margin-right: 2rem;
  } */

  .menu__item:hover {
    /* color: var(--nav-links-color); */
    font-weight: var(--active-nav-link-font-weight);
    background-color: var(--header-background);
    background-color: var(--active-nav-link);
    color: var(--active-nav-link-text);
    border-color: var(--active-nav-link-text);
    /* background-color: var(--active-nav-link); */
  }

}