.home {
    background-color: var(--primary-bg);
    background-color: var(--tertiary-bg);
    color: var(--secondary-text-color);
    text-align: center;
    /* padding-top: 84px; */
    padding-bottom: 14rem;
}

.hero {
    width: 85%;
    margin: auto;
}

.banner {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-photo {
    height: 200px;
    width: auto;
    border-radius: 50%;
    background-image: linear-gradient(var(--gradient-bg), var(--gradient-comp));
}

.intro {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0.25px;
    margin-top: 1rem;
}

.links-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    font-family: var(--buttons-font-family);
    font-weight: var(--buttons-font-weight);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    vertical-align: middle;

}


.link .fa-github {
    font-size: 1.1rem;
    vertical-align: middle;
}

@media screen and (min-width: 667px) {
    .hero {
        width: 75%;
        padding-bottom: 0;
    }

    .banner {
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .profile-photo {
        float: left;
        shape-outside: circle();
        margin-right: 1rem;
    }

    .intro {
        text-align: justify;
        font-size: 1.05rem;
    }

    .links-wrapper {
        gap: 2rem;
    }

    .link {
        padding: 0.65rem 1.2rem;
        font-size: 1.1rem;
    }

    .link .fa-github {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 929px) {
    .home {
        padding-bottom: 10rem;
    }

    .hero {
        width: 70%;
    }

    .banner {
        font-weight: 900;
    }

}

@media screen and (min-width: 1267px) {
    .home {
        /* padding-top: 7.5rem; */
        padding-bottom: 9.25rem;
        background-color: var(--primary-bg);
    }

    .hero {
        width: 80%;
        width: 90%;
        border-radius: 20%;
        border-radius: 10px;
        background-color: var(--complementary-bg);
        background-color: var(--tertiary-bg);
        padding: 2rem 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .banner {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .profile-photo {
        margin-right: 1.5rem;
        height: 240px;
    }

    .hero-text-container h4 {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 1500px) {
    .home {
        min-height: 100%;
        display: flex;
        align-items: center;
    }

    .hero {
        width: 70%;
    }
}

@media screen and (min-width: 1700px) {
    .hero {
        padding: 3rem 12rem;
    }
}