.home {
    width: 100%;
    height: 100%;
    margin: 0;
    /* background: var(--home-bg-mobile) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
    background-color: var(--secondary-background);
    /* color: var(--home-text-color); */
    color: var(--primary-text-color);
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    /* bottom: 0; */
    padding-top: 7rem;
    padding-bottom: 14rem;
    /* padding-bottom: 33rem; */

}

.hero {
    /* padding-top: 64px; */
    width: 85%;
    min-height: 100vh;
    margin: auto;
    /* height: 100%; */
}

/* .hero-text-container {
    width: 85%;
    margin: auto;
} */

.banner {
    font-family: var(--hero-banner-text);
    font-weight: 600;
    font-size: 2.5rem;
    margin: 1rem 0;
}

/* .hero-text-container h3 {
    font-family: var(--secondary-font-family);
    font-weight: 600;
    font-size: 1.25rem;
} */

.profile-photo {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.intro {
    font-family: var(--primary-font-family);
    font-weight: var(--secondary-font-weight);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0.25px;
    margin-top: 1rem;
}

.center-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttons-bg-color);
    /* color: var(--buttons-color); */
    font-family: var(--buttons-font-family);
    font-weight: var(--buttons-font-weight);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
}

.link .fa-github {
    font-size: 1.12rem;
    /* color: var(--buttons-color); */
}

@media screen and (max-width: 400px) {
    .link {
        font-size: 0.85rem;
    }

    .link .fa-github {
        font-size: 0.9rem;

    }
}

@media screen and (min-width: 667px) {
    .hero {
        width: 75%;
    }

    .banner {
        text-align: left;
        margin: 1.5rem 0;
    }

    .profile-photo {
        float: left;
        shape-outside: circle();
        margin-right: 1rem;
    }

    .intro {
        text-align: justify;
    }

    .links-wrapper {
        gap: 2rem;
    }

    .link {
        padding: 0.65rem 1.2rem;
        font-size: 1rem;
        font-weight: 200;
    }

    .link .fa-github {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 929px) {
    .home {
        padding-bottom: 8.5rem;
    }
    .hero {
        width: 70%;
    }

    .banner {
        font-weight: 900;
    }
}

@media screen and (min-width: 1124px) {
    .hero {
        width: 80%;
        margin: auto;
        border-radius: 20%;
        background-color: var(--primary-background);
        padding: 2rem 10rem;
    }

    .banner {
        margin: 2rem 0;
    }

    .profile-photo {
        margin-right: 1.5rem;
        height: 240px;
    }

    .hero-text-container h4 {
        font-size: 1.5rem;
    }

    .links-wrapper {
        margin-top: 2.5rem;
    }
}