.home {
    background-color: var(--primary-bg);
    color: var(--secondary-text-color);
    text-align: center;
    padding-top: 84px;
    padding-bottom: 14rem;
}

.hero {
    width: 85%;
    margin: auto;
}

.banner {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    /* font-weight: 600; */
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-photo {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.intro {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    letter-spacing: 0.25px;
    margin-top: 1rem;
}

.links-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 7.5%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--buttons-font-family);
    font-weight: var(--buttons-font-weight);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-size: 1rem;
}

.link .fa-github {
    font-size: 0.95rem;
    font-size: 1.1rem;
}

@media screen and (min-width: 667px) {
    .hero {
        width: 75%;
        padding-bottom: 0;
    }

    .banner {
        text-align: left;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .profile-photo {
        float: left;
        shape-outside: circle();
        margin-right: 1rem;
    }

    .intro {
        text-align: justify;
        font-size: 1.05rem;
    }

    .links-wrapper {
        gap: 2rem;
        margin-left: 12.5%;
    }

    .link {
        padding: 0.65rem 1.2rem;
        font-size: 1.1rem;
    }

    .link .fa-github {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 929px) {
    .home {
        padding-bottom: 10rem;
    }

    .hero {
        width: 70%;
    }

    .banner {
        font-weight: 900;
    }

    .links-wrapper {
        margin-left: 15%;
    }
}

@media screen and (min-width: 1124px) {
    .home {
        padding-top: 7.5rem;
        padding-bottom: 9.25rem;
    }

    .hero {
        width: 80%;
        border-radius: 20%;
        background-color: var(--tertiary-bg);
        padding: 2rem 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .profile-photo {
        margin-right: 1.5rem;
        height: 240px;
    }

    .hero-text-container h4 {
        font-size: 1.5rem;
    }

    .links-wrapper {
        margin-left: 0%;
        justify-content: center;
    }

}