@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Lato&family=Source+Sans+Pro&display=swap');

.hero {
	background: url('/images/bg-image.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
}
.textWrapper {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 65vh;
	background: linear-gradient(
		180deg,
		rgba(217, 37, 37, 0.25) 0%,
		rgba(217, 37, 37, 0) 100%
	);
	position: absolute;
	top: 60px;
}
.banner {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Lato', sans-serif;
	margin: 1rem 2rem;
}

.intro {
	/* white-space: pre-line;
  line-break: strict; */
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
	font-size: 1.25rem;
	word-spacing: 2px;
	hyphens: auto;
	color: white;
	position: absolute;
	margin: 4rem 2rem;
}
.more {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 1rem;
	background-color: #058355;
	border-style: solid;
	border-width: thin;
	color: white;
	border-radius: 4px;
	padding: 7px;
	width: fit-content;
	position: relative;
	margin: 2rem;
	justify-self: flex-end;
	align-self: flex-end;
}
@media only screen and (min-device-width: 1285px) {
	.header {
		height: 100vh;
		background: linear-gradient(
			45deg,
			darkseagreen,
			rgb(21, 34, 29),
			rgb(38, 39, 37) 100%
		);
	}
	.banner {
		height: 100vh;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #39000d;
		color: #00d4ff;
		text-align: center;
		padding: 5px 1px;

		border-radius: 6px;
		position: absolute;
		margin-left: 3rem;
		z-index: 1;
	}
	.fa-chevron-circle-down {
		margin-top: -1.25rem;
	}
	.scrolldown .smoothscroll {
		margin-bottom: 1rem;
	}
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
}
@media only screen and (max-device-width: 1284px) {
	.header {
		height: fit-content;
	}
	.banner {
		height: fit-content;
		overflow: hidden;
	}
	.headlines {
		height: fit-content;
	}
	.introWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin-top: 20px;
		margin-bottom: 110px;
	}
	.intro {
		display: block;
		font-size: 1.25rem;
		white-space: pre-line;
		line-break: strict;
		font-family: 'Source Sans Pro', sans-serif;
	}
}

@media only screen and (max-device-width: 1124px) {
	.header {
		height: fit-content;
	}
	.banner {
		height: fit-content;
		overflow: hidden;
	}
	.introWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin-top: 20px;
		margin-bottom: 110px;
	}
	.intro {
		display: block;
		font-size: 1.25rem;
		white-space: pre-line;
		line-break: strict;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.scrolldown .smoothscroll {
		margin-bottom: 12.5rem;
	}
	.tooltip .tooltiptext {
		margin-left: 15rem;
		margin-top: -3rem;
	}
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
}
@media only screen and (max-device-width: 917px) {
	.header {
		height: fit-content;
	}
	.banner {
		height: fit-content;
	}
	.intro {
		white-space: pre-line;
		font-size: 1.25;
		line-break: strict;
		text-align: justify;
		text-justify: inter-word;
		word-spacing: -2px;
		font-family: 'Source Sans Pro', sans-serif;
	}
}

@media only screen and (max-device-width: 667px) {
	.header {
		height: fit-content;
	}
	.banner {
		height: fit-content;
	}
	.intro {
		height: fit-content;
		font-size: 1.07rem;
		padding: 0;
	}
}
@media screen and (max-width: 527px) {
	.header {
		height: fit-content;
	}
	.headlines {
		background-position: center center;
		background-attachment: unset;
		width: 100vw;
	}
	.intro {
		font-size: 1rem;
	}
}
@media screen and (max-width: 388px) {
	.banner {
		font-size: 1.25rem;
		margin-bottom: 1.5rem;
	}
}
