.menu {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 60px;
	background: linear-gradient(
		180deg,
		rgba(46, 49, 89, 0.5) 0%,
		rgba(46, 49, 89, 0) 100%
	);
	z-index: 100;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: aliceblue;
}

.logo {
	margin: 0;
	background: rgba(217, 37, 37, 0.7);
	background-color: #058355;
}

.nav {
	margin-right: 3rem;
}

.list {
	list-style-type: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	font-size: small;
	gap: 1rem;
}

.link {
	text-transform: uppercase;
	margin-right: 20px;
	cursor: pointer;
	color: aliceblue;
}

.active {
	margin-right: 20px;
	text-transform: uppercase;
	color: mediumseagreen;
}

.fas {
	display: none;
	position: absolute;
	right: 20px;
	cursor: pointer;
}

.single {
	display: none;
	width: 100vw;
}

@media screen and (max-width: 667px) {
	.wrapper {
		display: inline;
	}
	.list {
		display: flex;
		width: 100vw;
		margin: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: linear-gradient(45deg, rgb(211, 34, 29), #738678);
		height: auto;
		margin-top: -6px;
	}
	.link,
	.active {
		display: inline-block;
		width: 100vw;
		text-align: center;
		background: linear-gradient(45deg, rgb(21, 34, 29), #738678);
		margin: 0 auto;
		padding: 10px 50px;
		margin-left: -40px;
		position: relative;
	}
	.link:hover,
	.active:hover {
		background: linear-gradient(45deg, rgb(211, 34, 29), #738678);
	}
	.fa-bars,
	.fa-xmark {
		position: absolute;
		top: 10px;
		right: 20px;
		display: block;
		width: auto;
		height: 40px;
		
		color: rgb(163, 189, 19);
		
	}
}
